        *{
            margin: 0;
            padding: 0;
            /*background-color: #3d3d3d;*/
            font-size: 20px;
            font-family: Helvetica, Serif, serif;
        }

        body{
            height: 100vh;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .header{

        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #1f1f1f;
        }

        li{
            float: left;
        }
        li a{
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }