        form{
            border-radius: 10%;
            /*background-color: #1f1f1f;*/
            padding: 25px;
            padding-bottom: 22px;
            justify-content: center;
            align-content: center;
        }

        ::placeholder{
            color: floralwhite;
            opacity: 0.5;
        }

        button{
            width: 100%;
            background-color: cornflowerblue;
            color: ghostwhite;
            border: none;
            border-radius: 5px;
            padding: 4px;
            margin-top: 4px;
            margin-bottom: 9px;
        }

        .head{
            font-size: 30px;
            /*background-color: #1f1f1f;*/
            font-family: "Rockwell Extra Bold", sans-serif;
            color: floralwhite;
        }

        img{
            border-radius: 25%;
            width: 25%;
            height: 100px;
            background-color: ghostwhite;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            margin-top: 4px;
        }
        
        .small{
            font-size: 15px;
            /*background-color: #1f1f1f;*/
            color: slategray;
            text-align: center;
        }
        

        a:link{
            text-decoration: none;
            color: cornflowerblue;
        }

        a:visited {
            text-decoration: none;
            color: cornflowerblue;
        }

        a:active {
            text-decoration: none;
            color: cornflowerblue;
        }

        a:hover {
            text-decoration: none;
            color: cornflowerblue;
        }