<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>

    <div>
        <style>
            h5{
                color:red;
            }
        </style>
        {% for message in messages %}
        <h5>{{ message }}</h5>
        {% endfor %}
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="Username"><br>
        <input type="email" name="email" placeholder="Email Address"><br>
        <input type="password" name="pass1" placeholder="Password">
        <input type="password" name="pass2" placeholder="Confirm Password"><br>
        <input type="text" name="degree" placeholder="Degree Name">
        <input type="text" name="program" placeholder="Program Of Study"><br>
        <input type="text" name="year" placeholder="Graduation Year"><br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>